@import "./base.scss";

$yellow: rgb(254, 214, 6);

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-decoration: none;
  font-weight: normal;
  color: white;
  user-select: none;
  display: flex;
  flex-direction: column;
}
